:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --dark-bg: #2F303A;
}
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
html {  
    box-sizing: border-box;
  }
  *,*::after,*::before {
          box-sizing: inherit;}
          /* Стили для обнуления верхних отступов у элементов */
h1,h2,h3,h4,h5,h6,p { 
     margin-top: 0;}
/* Класс для обнуления базовых свойств у списков (ul) */
.list {    list-style: none;    padding-left: 0;    margin: 0;}
/* Класс для обнуления базовых свойств у ссылок */
.link {    text-decoration: none;    color: inherit;}
/* Свойства для корректного отображения картинок */
img {    display: block;    max-width: 100%;    height: auto;}
/* Свойства для обнуления курсива у address */
address {    font-style: normal;    /* or */    font-style: inherit;}

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */    
    letter-spacing: 0.03em;    
    color: var(--primary-text-color);}
/* лого */
.logo {font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    color: #2196F3;}
.logo:hover
{
    color:  var(--accent-color);
}
.span-header {color: var(--title-text-color);
}
.header-link {font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;}
.span-footer {color: white;
}
/* site nav */
.site-nav 
{
    color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus
{
    color: var(--accent-color);
}
.site-nav .current{ color: var(--accent-color);}
/* site adress */
.address{
    color: #757575;
}
.address :hover,
.address :focus{
    color: var(--accent-color); 
}
/* HERO */
.section-hero{
color: #FFFFFF;
background-color: #2F303A;
}
/*Features */
.section-title{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--title-text-color);}
.title {color: var(--title-text-color);}
.feature .title{
    color: var(--title-text-color);

.subtitle{
    color: var(--primary-text-color);
}
.person .title{color: var(--title-text-color);}
.aside-list.title {
    color: var(--title-text-color);
}
/* footer */
.footer{background-color: var(--dark-bg);}
.footer-logo{  
      color: #2196F3
    }
.footer-logo:hover{color: var(--accent-color);}
.button {basckground-color: #2196F3;
color: white;}
.list .title {color: var(--title-text-color);}
.address-link {color: rgba(255, 255, 255, 0.6);}
.address-link [target="_blank"] {color:white}
